<h1>Invoice</h1>
<div class="invoice">
  <!-- Add input field for province_name -->

  <% if @cart_items.present? %>
    <% @cart_items.each do |item| %>
      <div class="invoice-item">
        <div class="item-details">
          <%= image_tag item.image, class: "invoice-item-image", alt: "#{item.prod_name} image" %>
          <h2 class="invoice-item-name"><%= item.prod_name %></h2>
        </div>
        <div class="item-details">
          <p>Quantity: <%= session[:quantity][item.id.to_s].to_i %></p>
        </div>
        <div class="item-details">
          <p>$ <%= number_with_precision(item.cost * session[:quantity][item.id.to_s].to_i, precision: 2) %></p>
        </div>
        <div class="item-details">
          <% if @province.present? %>
            <p>Total Cost for <%= @province.prov_name %>: $<%= number_with_precision((item.cost * session[:quantity][item.id.to_s].to_i) * (1 + @province.HST + @province.GST + @province.PST), precision: 2) %></p>
          <% else %>
            <p>No province information available.</p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= form_tag({controller: 'checkout', action: 'index'}, method: 'get') do %>
    <label for="province_name">Province Name:</label>
    <input type="text" id="province_name" class= "search-input" name="province_name" />
    <input type="submit" value="Set Province" />
  <% end %>
  <%= form_tag({ controller: 'checkout', action: 'confirm_checkout' }, method: 'get') do %>
    <%= submit_tag 'Confirm Checkout', class: 'checkout-button button-style' %>
  <% end %>

</div>


