<h1><%= @pokemon_products.prod_name %></h1>

<div class="pokemon-container">
  <div class="grid-container">
    <div class="pokemon-description">
      <%= render partial: 'products/product', locals: { prod: @pokemon_products } %>
      <p><%= link_to @pokemon_categories.cat_name, @pokemon_categories %></p>
    </div>
  </div>
  <div class="pokemon-description">
    <h2 class="pokemon-name">Description</h2>
    <p><%= @pokemon_products.description %></p>
  </div>
  <div class="pokemon-description">
    <h2 class="pokemon-name">Cost</h2>
    <p>$ <%= number_with_precision(@pokemon_products.cost, precision: 2) %></p>
  </div>
</div>
