<h1><%= @pokemon_products.prod_name %></h1>

<div class="pokemon-container">
    <div class="grid-container">
            <div class="pokemon-description">
                <%= image_tag @pokemon_products.image, class: "pokemon-image", alt: "#{@pokemon_products.prod_name} image" %>
            <h2 class="pokemon-name"><%= @pokemon_products.prod_name.gsub('-', ' ') %></h2>
            <p><%= link_to @pokemon_categories.cat_name, @pokemon_categories %></p>
        </div>
    </div>
    <div class="pokemon-description">
        <h2 class="pokemon-name">description</h2>
        <p><%= @pokemon_products.description %></p>
    </div>
    <div class="pokemon-description">
        <h2 class="pokemon-name">Cost</h2>
        <p>$ <%= number_with_precision(@pokemon_products.cost, precision: 2) %></p>
        <%= button_to 'Add to Cart', add_to_cart_product_path(@pokemon_products), method: :post, class: 'add-to-cart-button' %>
    </div>
</div>